1.) for raise to power in python we use "**"

In [1]:
2**3

8

2.) python language id dynamically typed
means if a variable is assigned a value, we can reassign the same varisble some other value 
of diiffernt datatype even a list or enum etc and "donot have to declare that variable if it it integer or float etc"

3.) in python "0.2+0.1-0.3" does not give the value zero as in python first the number is converted from decimal to binary than operated with base 2 xg:1/2=0.5
5==101
1*2^-1+0*2^-2+1*2^-3=0.5

In [2]:
0.1+0.2-0.3

5.551115123125783e-17

4.)with the help of "type()"we can find out the datatype of a varibale

In [3]:
a=2

In [4]:
a

2

In [5]:
type(a)

int

when we write "hello" without any print statement it gives the ouput 'hello'

In [6]:
"hello"

'hello'

In [7]:
print("hello")

hello

In [8]:
"hello 1"
"hello 2"

'hello 2'

so becoz of third statement it gives only last string as output we need "print"ststement

4.)len() func to give length of a string

In [9]:
len("hello")

5

# indexing

In [10]:
a="hello"

In [11]:
a[3]

'l'

In [12]:
a[0:]

'hello'

In [13]:
a[0:3]

'hel'

////////

In [14]:
a[:]

'hello'

In [15]:
a[::]

'hello'

[start:end:step_size] step_size means to jump the aplhabets

In [16]:
a[::2]

'hlo'

In [17]:
a[::0]

ValueError: slice step cannot be zero

In [18]:
a[::1]

'hello'

In [19]:
a[::-1]

'olleh'

a[::-1] this reverses the string

6.)for comments we use #

7.)we can do addtion and multipication for string concatination but we cannot add a string and a number

In [20]:
a="a"

In [21]:
a+a

'aa'

In [22]:
a*3

'aaa'

In [23]:
a+1

TypeError: must be str, not int

In [24]:
a.upper()

'A'

In [25]:
a+'1'

'a1'

In [26]:
 a.encode()

b'a'

In [27]:
a.expandtabs()

'a'

8.)we can add two or maore string with the help of ".format function" in syntax we need to write '{}' at the place where we need to format.

In [28]:
print("hello {} {}".format("world","!"))

hello world !

In [29]:
print("{} world {}".format("hello","hi"))

hello world hi

In [30]:
print("hello {1} {0}".format("world","!"))

hello ! world

In [31]:
print("hello {1} {1}".format("world","!"))

hello ! !

In [32]:
print("hello {w} {i}".format(w="world",i="!"))

hello world !

9.)float with.format function

In [33]:
print("result{p:1.5f}".format(p=10/3))

result3.33333

In [34]:
print("result{p:10.5f}".format(p=10/3))  #in this 10 can be increased more than the spaces b/w "result" and "3" 
#will increase ,more and 5 represents spaces after decimal point

result   3.33333

In [35]:
name="hrs"

In [36]:
print(f"i am {name}")#if we donot want to write ".format" than we have to write "f" before the string

i am hrs

# LIST

In [37]:
n=["name",1,3,"Ssb"]

In [38]:
n[1]

1

In [39]:
n[1:]

[1, 3, 'Ssb']

In [40]:
s=["sss"]

In [41]:
n+s

['name', 1, 3, 'Ssb', 'sss']

In [42]:
n[0]="abc"

In [43]:
n

['abc', 1, 3, 'Ssb']

In [44]:
n.append("qwerty")#put dot and then click tab for more option

In [45]:
n

['abc', 1, 3, 'Ssb', 'qwerty']

In [46]:
n.pop()

'qwerty'

In [47]:
n

['abc', 1, 3, 'Ssb']

In [48]:
n.pop(2)#pop is used to delete an item from a list

3

In [49]:
n

['abc', 1, 'Ssb']

In [50]:
n=["ggg","free",["dfg","essy"]]#list in a list

In [51]:
n[1]

'free'

In [52]:
n[2][0]

'dfg'

In [53]:
a=[2,3,1,5,4]
print(a)

[2, 3, 1, 5, 4]

In [54]:
sorted(a)

[1, 2, 3, 4, 5]

In [55]:
[0]*3#this is how we can create a list of same numbers by multiplication meathon

[0, 0, 0]

# DICTIONARY

In [56]:
n={'key1':'harshita','key2':'dadhich'}

In [57]:
n

{'key1': 'harshita', 'key2': 'dadhich'}

In [58]:
n['key1']

'harshita'

###here we give variables an another value instead of index values###

In [59]:
n={'1':'a','2':[2,3,4],'3':{'7':'d'}}#list inside a string and string inside a string

In [60]:
n

{'1': 'a', '2': [2, 3, 4], '3': {'7': 'd'}}

In [61]:
n['2']

[2, 3, 4]

In [62]:
n['3']['7']

'd'

In [63]:
n.keys()#enter and tabs

dict_keys(['1', '2', '3'])

In [64]:
n.values()

dict_values(['a', [2, 3, 4], {'7': 'd'}])

In [65]:
n.items()

dict_items([('1', 'a'), ('2', [2, 3, 4]), ('3', {'7': 'd'})])

###Dictionaries are mappings and do not retain order!###

# tupels

In [66]:
n=(1,1,2,3)#tupels are immutable

In [67]:
type(n)

tuple

In [68]:
n[0]

1

In [69]:
n.count(1)

2

In [70]:
n.index(1)

0

In [71]:
n[1]='0'#tuples are immutable

TypeError: 'tuple' object does not support item assignment

# SETS

SETS are unordered list of objects just like dictionary just that sets don't have key values

In [72]:
n=set()
n

set()

In [73]:
n.add(1)
n

{1}

In [74]:
n.add(2)
n

{1, 2}

In [75]:
n

{1, 2}

In [76]:
n=[1,1,1,1,2,2,2,3,3,3,4,4]

In [77]:
set(n)

{1, 2, 3, 4}

In [78]:
n='Mississippi'
set(n)

{'M', 'i', 'p', 's'}

###BOOLEANS###

In [79]:
n=None

In [80]:
n

In [81]:
n=([1,1,2])
set(n)

{1, 2}

# files

In [82]:
%%writefile myfile.txt
hello this is the text file
this is the second line
this is the third line

Overwriting myfile.txt

In [83]:
myfile = open('myfile.txt')

In [84]:
n=open('myfile.txt')

In [85]:
n=open('vcz.txt')#this file does not exist

FileNotFoundError: [Errno 2] No such file or directory: 'vcz.txt'

In [86]:
pwd

'/Users/abhi'

In [87]:
myfile.read()#to read the file

'hello this is the text file\nthis is the second line\nthis is the third line'

In [88]:
myfile=read('myfile.txt')

NameError: name 'read' is not defined

In [89]:
myfile.read()#second time when we run the command becz when first time we read then cursor will go the end of the file
#and after that when we again read the file it show empty string or the end of the string

''

In [90]:
myfile.seek(0)#it will reset the cursor to zeroth position

0

In [91]:
myfile.read()

'hello this is the text file\nthis is the second line\nthis is the third line'

In [92]:
myfile.seek(0)

0

In [93]:
myfile.readlines()

['hello this is the text file\n',
 'this is the second line\n',
 'this is the third line']

In [94]:
%%writefile myfile.txt
hello this is the text file
this is the second line
this is the third line

Overwriting myfile.txt

In [95]:
myfile=open('myfile.txt')

In [96]:
myfile.close()#to close the file

In [97]:
with open('myfile.txt') as my_file:#shift+tab
    con=my_file.read()#in this way we donot have to worry about the closing of the file and con is the variable to read 
    #the file

In [98]:
con

'hello this is the text file\nthis is the second line\nthis is the third line'

In [99]:
with open('myfile.txt',mode='a') as my_file:#shift+tab
     my_file.write("aefsagvdV")

In [100]:
with open('myfile.txt',mode='w') as my_file:#shift+tab
    con=my_file.read()#mode='r+ or w+' is to read and write both

UnsupportedOperation: not readable

In [101]:
with open('myfile.txt',mode='r') as my_file:
    con=my_file.read()

In [102]:
con

''

In [103]:
with open('myfile.txt',mode='r') as my_file:
    print(my_file.read())

In [104]:
with open('myfile.txt',mode='a') as my_file:#shift+tab
     my_file.write("aefsagvdV")

In [105]:
with open('myfile.txt',mode='r') as my_file:
    print(my_file.read())

aefsagvdV

In [106]:
with open('my.txt',mode='a') as my_file:
     my_file.write("aefsagvdV")#we donot got an error in direct writing on to a file becoz python automatically created it 
        #withon us making a file seperately in writing mode only not in reading or appened

In [107]:
with open('my.txt',mode='r') as my_file:
    print(my_file.read())

aefsagvdVaefsagvdV

# COMPARISION OPERATOR

In [108]:
2==1

False

In [109]:
2>=2

True

In [110]:
2=2

SyntaxError: can't assign to literal (<ipython-input-110-f987af612b42>, line 1)

In [111]:
'H'=='h'#"==" operator operates on both length and ascii no.

False

In [112]:
'1'=1

SyntaxError: can't assign to literal (<ipython-input-112-5bfe5208f11a>, line 1)

In [113]:
2.0==2

True

In [114]:
1<2>3

False

In [115]:
1<2 and 2>3

False

In [116]:
1<2 or 2>3

True

In [117]:
not 1==1# false of what is the answer

False

In [118]:
not 1==8

True